body {
    margin: 0;
    padding: 0;
    min-width: 400px;
    /* back-ground photo of mountains */
    background-color: #516e8a;
}

#app {
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    grid-gap: 1em;
    width: 98vw;
    min-width: 375px;
    margin: 10px auto;
    background-color: #052b4ecc;
    color: #f0d43a;
    justify-content: center;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    margin: 0 auto;
}

.headline {
    font-size: 1.9em;
    border-bottom: solid #0c2a69 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    grid-row: 1;
}

#neededData {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
}

/* the area with the data for location */
.map {
    background:#6cc7e0;
    height: fit-content;
    display: grid;
    grid-template-rows: 50px 350px;
    grid-template-columns: 3fr 1fr 1fr;
    width: 90%;
    /* grid-row: 4; */
}

.location {
    border-bottom: solid #0c2a69 2px;
    grid-row: 1;
    grid-column: 1 / 3;
    color: #96810e;
}

.mapArea {
    height: 300px;
    width: auto;
    margin: 10px;
    padding: 10px;
    grid-row: 2;
    grid-column: 1 / 4;
    background-color: #516e8a;
    border-radius: 15px;
}

.weather {
    background:#6cc7e0;
    width: 400px;
    height: 175px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 62.5px;
    padding: 0 24px;
}

.weatherConditions{
    border-bottom: #0c2a69 3px solid;
    color: #96810e;
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.conditions, .temp, .icon {
    color: #96810e;
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-row: 2;
    font-size: 1.5em;
}

.conditions {
    grid-column: 2;
}

.temp {
    grid-column: 1;
}

.icon {
    grid-column: 3;
}

.rose {
    grid-row: 5;
    background-color: #FFF;
}

.mountainrose {
    height: auto;
    width: 300px;
    padding: 25px;
}

.feel{
    width: 90%;
}

.entry {
    background: rgba(59, 74, 107, .4);
    width: 90%;
    margin: 10px auto;
}

label {
    display:block;
    font-size: 32px;
    margin: 0 5px;
}

input {
    display:block;
    height: 60px;
    width: 320px;
    background:#6cc7e0;
    color: #96810e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 15px;
}

button {
    width: 100%;
    height: 100px;
    background: #0c2a69;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 4px 5px #444; */
}

h1 {
    font-size: 36px;
}

textarea {
    background:#6cc7e0;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 96%;
}

.hidden {
    display: none;
}

/* Entry board styles */
.title {
    border-bottom: #0c2a69 2px solid;
}

#entryHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
}

#date {
    grid-row: 1;
    grid-column: 1 / 3;
}

#temp {
    grid-row: 1;
    display: flex;
    justify-content: center;
}

#content {
    grid-row: 2;
    grid-column: 1 / 4;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 